body{
    background: url(https://assetsio.gnwcdn.com/Best-Survival-Games-VG247.jpg?width=1200&height=600&fit=crop&enable=upscale&auto=webp);
}
.game{
    text-align: center;
}
main{
    margin: 100px;
    padding: 50px;
    color: red;
}
a{
    color: rgb(18, 223, 18);
}