body{
    background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1720569600&semt=sph);
    
}
button{
    background-color: gold;
    border: none;
    padding: 10px 10pxpx;
    margin: 300px 500px;
    border-radius: 10px;
}
p{
    margin: 10px 400px;
}
footer{
    background-color: black;
    text-align: center;
    color: azure;
}
img{
    border-radius: 100px;
    width: 100px;
    margin: 0 auto;
}